# NOTE: entrypoint.sh MUST be included in the build context (do not add it here).
src/
extraLib/
.gradle/
.idea/
*.md
*.config
build/classes/
build/generated/
build/resources/
build/tmp/
build/water/
build/publications/